<h1>Shipping information</h1>
<div class="trak-info">
</div>
<div class="trak-info">
  <div>
    <h2>Tracking number</h2>
    <p>{{tracking?.trackingNumber}}</p>
  </div>
  <div>
    <h2>Status</h2>
    <p>{{tracking?.status?.status}}</p>
  </div>
  <div>
    <h2>Details</h2>
    <p>{{tracking?.status?.statusDetails}}</p>
  </div>
  <div>
    <h2>Last update</h2>
    <p>{{tracking?.status?.statusDate}}</p>
  </div>
</div>
<h2>Realtime localtion map</h2>
<app-gps [location]="tracking?.location || null"></app-gps>

<h2>Current temperature and humidity</h2>
<app-dth22></app-dth22>
