<div class="layout-topbar">
  <button
    #menubutton
    class="p-link layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets\images\JobCode.png" />
    <span>SoftRoute</span>
  </a>

  <div #topbarmenu class="layout-topbar-menu">
    <button class="p-link layout-topbar-button" (click)="signOut()">
      <i class="pi pi-sign-out"></i>
      <span>Calendar</span>
    </button>
  </div>
</div>
